<style>
    .underReview {
        background-color: rebeccapurple;
        color: #ffffff;
    }

    .approved {
        background-color: darkcyan;
        color: #ffffff;
    }

    .completed {
        background-color: dodgerblue;
        color: #ffffff;
    }

    .partiallyCompleted {
        background-color: royalblue;
        color: #ffffff;
    }



    .rejected {
        background-color: firebrick;
        color: #ffffff;
    }

</style>
@model List<Eihal.Data.Entites.ReferralRequest>
@foreach (var referral in Model)
{
    <div class="col-md-4 padding-top-25">
        <div class="referral-card" style="    border: 1px solid #eadfdf;
    border-radius: 10px;font-size: 13px;">
            <div class="referral-card-body">
                <h5 class="referral-card-title"><i class="fa-regular fa-user"></i><strong style="color:black;padding: 20px;">@referral.AssignedToUser.FullName </strong></h5>
                <div class="referral-info-row">
                    <div onclick="getReferralsOrderDetails(@referral.OrderId,false)" data-toggle="modal" data-target="#ViewOrderDetailsModal" data-placement="top" title="Edit" class="referral-info-label" style="padding:10px"><span class="ref-info-label">ID</span> <span style="color:gray">  @referral.Id.ToString("D4")   </span> <span class="ref-info-label" style="padding-left: 25px;"> Date</span> <span style="color:gray">@referral.CreationDate.ToString("yyyy/MM/dd")</span></div>
                    <div onclick="getReferralsOrderDetails(@referral.OrderId,false)" data-toggle="modal" data-target="#ViewOrderDetailsModal" data-placement="top" title="Edit" class="referral-info-label" style="padding:10px">
                        <span class="ref-info-label">Status</span>
                        @if (referral.Status == Eihal.Enums.ReferralStatusEnum.UnderReview)
                        {
                            <span class="status underReview">Under Review</span>
                        }
                        else if (referral.Status == Eihal.Enums.ReferralStatusEnum.Approved)
                        {
                            <span class="status approved">@referral.Status</span>
                        }
                        else if (referral.Status == Eihal.Enums.ReferralStatusEnum.Completed)
                        {
                            <span class="status completed">@referral.Status</span>
                        }
                        else if (referral.Status == Eihal.Enums.ReferralStatusEnum.Rejected)
                        {
                            <span class="status rejected">@referral.Status</span>
                        }
                        else if (referral.Status == Eihal.Enums.ReferralStatusEnum.PartiallyCompleted)
                        {
                            <span class="status partiallyCompleted">Partially Completed</span>
                        }
                        <br>
                        <br>
                        <span class="ref-info-label">Services</span>
                        <span style="color:gray">

                            @for (int i = 0; i < @referral.Order.Services.Count; i++)
                            {
                                if (i > 0)
                                {
                                    <span>
                                        ,
                                        @referral.Order.Services[i].TitleEn
                                    </span>
                                }
                                else
                                    @referral.Order.Services[i].TitleEn
                            }
                        </span>
                    </div>
                    @if (referral.Status == Eihal.Enums.ReferralStatusEnum.Completed || referral.Status == Eihal.Enums.ReferralStatusEnum.PartiallyCompleted)
                    {
                        <div class="dots-container">
                            <i onclick="toggleDropdown(@(referral.Id))">
                                <i style="color:#eadfdf" class="fas fa-ellipsis-v"></i>
                            </i>
                            <div class="dropdown-card" id="dropdownMenu@(referral.Id)">
                                <div class="option" onclick="exportReport(@(referral.Id))">@Html.ActionLink("Invoice", "ExportReport", "ServiceProvider",new {referralRequestId= referral.Id},new { @style="color:black;" })</div>
                            </div>
                        </div>
                    }


                 


                </div>

            </div>
        </div>
    </div>
}

@if (Model.Count == 0)
{
    <div class="no-results-section" style="padding-top:70px">
        <img src="~/images/NoResult.png" style="width: 150px;
    height: 150px;" width="150px" height="150px" alt="No Results Found Icon">
        <p>No outgoing requests found.</p>
    </div>
}




<style>
    .ref-info-label {
        width: 30%;
        font-size: 14px;
        font-weight: 600;
        color: darkcyan;
    }
</style>