@model Eihal.Data.Entites.InsuranceCompany
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>


<div id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <!-- End of Sidebar -->
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <!-- End of Topbar -->
                <!-- Begin Page Content -->
                <div class="container-fluid">
                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4" style="margin-top:125px;">
                        @*  <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                        <i class="fas fa-download fa-sm text-white-50"></i> Generate Report
                        </a>*@
                    </div>
                    <!-- Content Row -->


                    <div class="row">
                        @Html.Partial("_Sidebar")
                        <div class="col-xl-8 col-lg-8 ">

                            <div id="profile-status-container" style="color:white"></div>

                            <br />
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div class="tab-container card-header py-2 d-flex flex-row align-items-center justify-content-between">

                                    <h6 style="color:#00768c" class="m-0 font-weight-bold text-primary">
                                        <a style="color:#00768c" class="nav-link" href="index.html">
                                            <i style="color:#00768c" class="fas fa-share-alt" aria-hidden="true"></i>
                                            <span style="color:#00768c">Referrals</span>
                                        </a>
                                    </h6>
                                    <div>
                                        <button class="tab-button active" id="btnIncoming" onclick="openTab(event, 'tab1')">Incoming Requests</button>
                                        <button id="outgoing-tab" class="tab-button" onclick="openTab(event, 'tab2')">Outgoing Requests</button>
                                    </div>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body" style="min-height:500px">

                                    <!-- InComing Tab -->
                                    <div id="tab1" class="tab-content" style="display: none;">

                                        @Html.Partial("OrderPopup")

                                        <div class="row" style="padding-left: 4%;">
                                            <div class="col-md-5">
                                                <div class="form-group">
                                                    <label style="font-weight:bold;color:white" for="accountTypes-ddl-edit">Search:</label>
                                                    <div class="input-group">
                                                        <input style="background:#f2f2f2" onkeyup="filterIncomingReferrals()" id="filterInput-incoming" onkeypress="searchUsingEnterButtonIncoming(event)" placeholder="Search for name" type="search" class="form-control" />
                                                        <div class="input-group-append">
                                                            <button onclick="filterIncomingReferrals()" id="search-button" type="button" class="btn btn-primary">
                                                                <i class="fas fa-search"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-3">
                                                <!-- Label for Status dropdown -->
                                                <div class="form-group" style="margin-left: 10px;margin-bottom: 5%;">
                                                    <label style="font-weight:bold;color:#00768c" for="accountTypes-ddl-edit">Status:</label>
                                                    <select class="form-control" id="status-incoming-ddl" onchange="filterIncomingReferrals()">
                                                        <option value="0">All Statuses</option>
                                                        <option value="@((int)Eihal.Enums.ReferralStatusEnum.UnderReview)">Under Review</option>
                                                        <option value="@((int)Eihal.Enums.ReferralStatusEnum.Approved)">Approved</option>
                                                        <option value="@((int)Eihal.Enums.ReferralStatusEnum.Rejected)">Rejected</option>
                                                        <option value="@((int)Eihal.Enums.ReferralStatusEnum.Completed)">Completed</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="col-md-3">
                                                <!-- Label for Date dropdown -->
                                                <div class="form-group" style="margin-left: 10px;margin-bottom: 5%;">
                                                    <label style="font-weight:bold;color:#00768c" for="accountTypes-ddl-edit">Date:</label>
                                                    <select class="form-control" id="date-incoming-ddl" onchange="filterIncomingReferrals()">
                                                        <option value="0">All Dates</option>
                                                        <option value="1">Today</option>
                                                        <option value="2">7 days ago</option>
                                                        <option value="3">30 days ago</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="container">
                                            <div class="row" id="incomingRequestContainer">
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Outgoing Tab -->
                                    <div id="tab2" class="tab-content" style="display: none;">
                                        @Html.Partial("OrderPopup")
                                        <div class="row" style="padding-left: 4%;">
                                            <div class="col-md-5">
                                                <div class="form-group">
                                                    <label style="font-weight:bold;color:white" for="accountTypes-ddl-edit">Search:</label>
                                                    <div class="input-group">
                                                        <input style="background:#f2f2f2" onkeyup="filterOutgoingReferrals()" id="filterInput-outgoing" onkeypress="searchUsingEnterButtonOutgoing(event)" placeholder="Search for name" type="search" class="form-control" />
                                                        <div class="input-group-append">
                                                            <button onclick="filterOutgoingReferrals()" id="search-button" type="button" class="btn btn-primary">
                                                                <i class="fas fa-search"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-3">
                                                <!-- Label for Status dropdown -->
                                                <div class="form-group" style="margin-left: 10px;margin-bottom: 5%;">
                                                    <label style="font-weight:bold;color:#00768c" for="accountTypes-ddl-edit">Status:</label>
                                                    <select class="form-control" id="status-outgoing-ddl" onchange="filterOutgoingReferrals()">
                                                        <option value="0">All Statuses</option>
                                                        <option value="@((int)Eihal.Enums.ReferralStatusEnum.UnderReview)">Under Review</option>
                                                        <option value="@((int)Eihal.Enums.ReferralStatusEnum.Approved)">Approved</option>
                                                        <option value="@((int)Eihal.Enums.ReferralStatusEnum.Rejected)">Rejected</option>
                                                        <option value="@((int)Eihal.Enums.ReferralStatusEnum.Completed)">Completed</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="col-md-3">
                                                <!-- Label for Date dropdown -->
                                                <div class="form-group" style="margin-left: 10px;margin-bottom: 5%;">
                                                    <label style="font-weight:bold;color:#00768c" for="accountTypes-ddl-edit">Date:</label>
                                                    <select class="form-control" id="date-outgoing-ddl" onchange="filterOutgoingReferrals()">
                                                        <option value="0">All Dates</option>
                                                        <option value="1">Today</option>
                                                        <option value="2">7 days ago</option>
                                                        <option value="3">30 days ago</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="container">
                                            <div class="row" id="outgoingRequestContainer">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->
        <!-- Footer -->
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->
</div>
<div class="col-md-12 text-align-right">
    <button class="btn btn-success" type="button">@Html.ActionLink("Create PDF", "ExportReport", "ServiceProvider", null)</button>
</div>

<!-- Add Order Modal -->
<div class="modal fade" id="AddOrderModal" tabindex="-1" role="dialog" aria-labelledby="EditUserProfileModal" aria-hidden="true">
    <div class="modal-dialog custom-modal-dialog" style="max-width:760px" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="AddOrderModal">Add Order </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div id="main-class-modal" class="row justify-content-center">
                        <div>
                            <div>
                                <form id="msform">
                                    <!-- progressbar -->
                                    <ul id="progressbar">
                                        <li class="active" id="account"><strong>Patient Info</strong></li>
                                        <li id="personal"><strong>Privileges</strong></li>
                                        <li id="payment"><strong>Doctors</strong></li>
                                        <li id="confirm"><strong>Confrimation</strong></li>
                                    </ul>
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div> <br> <!-- fieldsets -->
                                    <fieldset id="patient-info">
                                        <div class="form-card">
                                            <div class="row">
                                                <div class="col-7">
                                                    <h2 class="fs-title">Patient Information:</h2>
                                                </div>
                                                <div class="col-5">
                                                    <h2 class="steps">Step 1 - 4</h2>
                                                </div>
                                            </div>
                                            @Html.Partial("PatientInfo")
                                        </div>
                                        <input type="button" name="next" class="next action-button" value="Next" />
                                    </fieldset>
                                    <fieldset>
                                        <div class="form-card">
                                            <div class="row">
                                                <div class="col-7">
                                                    <h2 class="fs-title">Privileges:</h2>
                                                </div>
                                                <div class="col-5">
                                                    <h2 class="steps">Step 2 - 4</h2>
                                                </div>
                                            </div>
                                            <hr />

                                            <h6 style="color:#00768c">
                                                Selected Privilege  <span style="color:gray;font-style:italic">(Note: the doctor will appers based on these selection)</span>
                                            </h6>

                                            @*selection*@
                                            <div class="container">
                                                <div class="row" id="selection-privileges">
                                                </div>
                                            </div>

                                            <div id="NoResult-div" class="no-results-section" style="display:block">
                                                <img src="~/images/NoResult.png" alt="No Results Found Icon">
                                                <p>No Privileges Selected Yet.</p>
                                            </div>

                                            <hr />
                                            <div class="input-group">
                                                <div class="form-outline">
                                                    <input onkeyup="searchOnPrivileges()" id="search-input" type="search" class="form-control" />
                                                </div>
                                                <button onclick="searchOnPrivileges()" style="height:40px" id="search-button" type="button" class="btn btn-primary">
                                                    <i class="fas fa-search"></i>
                                                </button>
                                            </div>
                                            <div class="container">
                                                <div class="row" id="privilegesContainer">
                                                </div>
                                            </div>
                                            <div class="no-results-section" style="display:none">
                                                <img src="~/images/NoResult.png" alt="No Results Found Icon">
                                                <p>No Privileges Found.</p>
                                            </div>


                                        </div>
                                        <input type="button" name="next" class="next action-button" value="Next" />
                                        <input type="button" name="previous" class="previous action-button-previous" value="Previous" />
                                    </fieldset>
                                    <fieldset>
                                        <div class="form-card">
                                            <div class="row">

                                                <div class="col-12">
                                                    <h2 class="steps">Step 3 - 4</h2>
                                                </div>
                                            </div>
                                            <h6 style="color:#00768c">
                                                <h2 class="fs-title">Doctors</h2>
                                            </h6>

                                            @Html.Partial("DoctorsOrder")
                                        </div>
                                        <input type="button" onclick="sendOrderRequest()" name="next" class="next action-button" value="Submit" />
                                        <input type="button" name="previous" class="previous action-button-previous" value="Previous" />
                                    </fieldset>
                                    <fieldset>
                                        <div class="form-card">
                                            <div class="row">
                                                <div class="col-7">
                                                    <h2 class="fs-title">Finish:</h2>
                                                </div>
                                                <div class="col-5">
                                                    <h2 class="steps">Step 4 - 4</h2>
                                                </div>
                                            </div> <br><br>
                                            <h2 class="purple-text text-center"><strong>SUCCESS !</strong></h2> <br>
                                            <div class="row justify-content-center">
                                                <div class="col-3"> <img src="https://i.imgur.com/GwStPmg.png" class="fit-image"> </div>
                                            </div> <br><br>
                                            <div class="row justify-content-center">
                                                <div class="col-7 text-center">
                                                    <h5 class="purple-text text-center">You Have Successfully Send The Order</h5>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal" id="close-order">Cancel</button>
                @*<button onclick="updateProfile()" type="button" class="btn btn-success" style="background-color:#00768c">Update</button>*@
            </div>
        </div>
    </div>
</div>





@section Scripts {
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>



    <script>

        function changeImage() {
            const gender = document.querySelector('input[name="gender"]:checked').value;
            const image = document.getElementById('image');

            if (gender === 'male') {
                image.src = '/images/male.png';
                image.alt = 'Male Image';
            } else if (gender === 'female') {
                image.src = '/images/female.png';
                image.alt = 'Female Image';
            } else {
                // Handle the case when no radio button is selected or unexpected value
                image.src = 'male.png';
                image.alt = 'Default Image';
            }
        }

        function searchUsingEnterButtonIncoming(event) {
            if (event.keyCode === 13) {
                event.preventDefault();
                filterIncomingReferrals();
                ;
            }
        }

        function searchUsingEnterButtonOutgoing(event) {
            if (event.keyCode === 13) {
                event.preventDefault();
                filterOutgoingReferrals();
                ;
            }
        }


        function filterIncomingReferrals() {
            var name = $('#filterInput-incoming').val();

            var incomingContainer = $('#incomingRequestContainer');
            var statusId = $('#status-incoming-ddl').val();
            var dateId = $('#date-incoming-ddl').val();

            $.ajax({
                url: '/ServiceProvider/GetUserIncomingRequests?name=' + name + '&statusId=' + statusId + '&dateId=' + dateId, // Replace with the actual URL and action method to fetch the partial view
                type: 'GET',
                success: function (response) {
                    incomingContainer.html(response);
                },
                error: function (xhr, status, error) {
                    console.error('Error:', error);
                }
            });
        }

        function filterOutgoingReferrals() {
            var name = $('#filterInput-outgoing').val();

            var outgoingContainer = $('#outgoingRequestContainer');
            var statusId = $('#status-outgoing-ddl').val();
            var dateId = $('#date-outgoing-ddl').val();

            $.ajax({
                url: '/ServiceProvider/GetUserOutgoingRequests?name=' + name + '&statusId=' + statusId + '&dateId=' + dateId, // Replace with the actual URL and action method to fetch the partial view
                type: 'GET',
                success: function (response) {
                    outgoingContainer.html(response);
                },
                error: function (xhr, status, error) {
                    console.error('Error:', error);
                }
            });
        }

        function setCookie(name, value, days) {
            var expires = "";
            if (days) {
                var date = new Date();
                date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
                expires = "; expires=" + date.toUTCString();
            }
            document.cookie = name + "=" + value + expires + "; path=/";
        }

        $(document).ready(function () {
            var currentUrl = window.location.href;
            if (currentUrl.includes("Referrals")) {
                $("#referrals-li").addClass("activeLink");
                $("#referrals-text").addClass("activeLink");
            } else {
                console.log("The URL does not contain 'Referrals'.");
            }
            document.getElementsByClassName('active')[0].click();


        })

        function openTab(evt, tabName) {
            // Hide all tab content
            var tabContent = document.getElementsByClassName("tab-content");
            for (var i = 0; i < tabContent.length; i++) {
                tabContent[i].style.display = "none";
            }

            // Remove 'active' class from all tab buttons
            var tabButtons = document.getElementsByClassName("tab-button");
            for (var i = 0; i < tabButtons.length; i++) {
                tabButtons[i].className = tabButtons[i].className.replace(" active", "");
            }

            // Show the selected tab content and set the corresponding button as active
            document.getElementById(tabName).style.display = "block";
            if (tabName == 'tab1') {
                filterIncomingReferrals();
            } else {
                filterOutgoingReferrals();
            }
            evt.currentTarget.className += " active";
        }

        // JavaScript function to toggle the dropdown menu
        function toggleDropdown(id) {
            
            const dropdownMenu = document.getElementById('dropdownMenu'+id);
            dropdownMenu.style.display = dropdownMenu.style.display === 'block' ? 'none' : 'block';
        }

        // JavaScript functions for approve and reject actions
        function approve(refId) {

            $.ajax({
                url: '/ServiceProvider/ApproveReferal?refId=' + refId,
                type: 'GET',
                success: function (response) {
                    toastr.success('Referrals approved successfully', 'Success !!');
                    filterIncomingReferrals();
                },
                error: function (xhr, status, error) {
                    console.error('Error:', error);
                }
            });
        }        function complete(refId) {

            $.ajax({
                url: '/ServiceProvider/CompleteReferal?refId=' + refId,
                type: 'GET',
                success: function (response) {
                    toastr.success('Referrals completed successfully', 'Success !!');
                    filterIncomingReferrals();
                },
                error: function (xhr, status, error) {
                    console.error('Error:', error);
                }
            });
        }
        
        function reject(refId) {

            $.ajax({
                url: '/ServiceProvider/RejectReferal?refId=' + refId,
                type: 'GET',
                success: function (response) {
                    toastr.success('Referrals rejected successfully', 'Success !!');
                    filterIncomingReferrals();
                },
                error: function (xhr, status, error) {
                    console.error('Error:', error);
                }
            });
        }



            //ToDo: Handle This Code Later On 
             //Event listener to close dropdown when clicking outside the dots container
            document.addEventListener('mouseout', function (event) {
            
                const dotsContainer = document.querySelector('.referral-card');
                if (dotsContainer != null && dotsContainer != undefined && !dotsContainer.contains(event.target)) {
                    const dropdownMenu = document.getElementById('dropdownMenu');
                    dropdownMenu.style.display = 'none';
                }
                console.log("fire") 
            });

    </script>
}





