@model Eihal.Data.Entites.InsuranceCompany
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
@{
    string cultureCode = System.Threading.Thread.CurrentThread.CurrentCulture.Name;
    string direction = cultureCode.StartsWith("ar", StringComparison.OrdinalIgnoreCase) ? "rtl" : "ltr";
    string textAlign = direction == "rtl" ? "right" : "left";
    bool isEng = direction == "ltr" ? true : false;
}


<div id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <!-- End of Sidebar -->
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <!-- End of Topbar -->
                <!-- Begin Page Content -->
                <div class="container-fluid" style="direction:@direction;text-align:@textAlign">
                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4" style="margin-top:125px;">
                        @*  <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                        <i class="fas fa-download fa-sm text-white-50"></i> Generate Report
                        </a>*@
                    </div>
                    <!-- Content Row -->


                    <div class="row">
                        @Html.Partial("_Sidebar")
                        <div class="col-xl-8 col-lg-8 ">

                            <div id="profile-status-container" style="color:white"></div>

                            <br />
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div class="tab-container card-header py-2 d-flex flex-row align-items-center justify-content-between">

                                    <h6 style="color:#00768c" class="m-0 font-weight-bold text-primary">
                                        <a style="color:#00768c" class="nav-link" href="#">
                                            <i style="color:#00768c" class="fas fa-share-alt" aria-hidden="true"></i>
                                            <span style="color:#00768c">Referrals</span>
                                        </a>
                                    </h6>
                                    <div>
                                        <button class="tab-button active" id="btnIncoming" onclick="openTab(event, 'tab1')">Incoming Requests</button>
                                        <button id="outgoing-tab" class="tab-button" onclick="openTab(event, 'tab2')">Outgoing Requests</button>
                                    </div>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">

                                    <!-- InComing Tab -->
                                    <div id="tab1" class="tab-content" style="display: none;">

                                        @Html.Partial("OrderPopup")

                                        <div class="row" style="padding-left: 4%;">
                                            <div class="col-md-5">
                                                <div class="form-group">
                                                    <label style="font-weight:bold;color:white" for="accountTypes-ddl-edit">Search:</label>
                                                    <div class="input-group">
                                                        <input style="background:#f2f2f2" onkeyup="filterIncomingReferrals()" id="filterInput-incoming" onkeypress="searchUsingEnterButtonIncoming(event)" placeholder="Search for name" type="search" class="form-control" />
                                                        <div class="input-group-append">
                                                            <button onclick="filterIncomingReferrals()" id="search-button" type="button" class="btn btn-primary">
                                                                <i class="fas fa-search"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-3">
                                                <!-- Label for Status dropdown -->
                                                <div class="form-group" style="margin-left: 10px;margin-bottom: 5%;">
                                                    <label style="font-weight:bold;color:#00768c" for="accountTypes-ddl-edit">Status:</label>
                                                    <select class="form-control" id="status-incoming-ddl" onchange="filterIncomingReferrals()">
                                                        <option value="0">All Statuses</option>
                                                        <option value="@((int)Eihal.Enums.ReferralStatusEnum.UnderReview)">Under Review</option>
                                                        <option value="@((int)Eihal.Enums.ReferralStatusEnum.Approved)">Approved</option>
                                                        <option value="@((int)Eihal.Enums.ReferralStatusEnum.Rejected)">Rejected</option>
                                                        <option value="@((int)Eihal.Enums.ReferralStatusEnum.Completed)">Completed</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="col-md-3">
                                                <!-- Label for Date dropdown -->
                                                <div class="form-group" style="margin-left: 10px;margin-bottom: 5%;">
                                                    <label style="font-weight:bold;color:#00768c" for="accountTypes-ddl-edit">Date:</label>
                                                    <select class="form-control" id="date-incoming-ddl" onchange="filterIncomingReferrals()">
                                                        <option value="0">All Dates</option>
                                                        <option value="1">Today</option>
                                                        <option value="2">7 days ago</option>
                                                        <option value="3">30 days ago</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="container">
                                            <div class="row" id="incomingRequestContainer">
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Outgoing Tab -->
                                    <div id="tab2" class="tab-content" style="display: none;">
                                        @Html.Partial("OrderPopup")
                                        <div class="row" style="padding-left: 4%;">
                                            <div class="col-md-5">
                                                <div class="form-group">
                                                    <label style="font-weight:bold;color:white" for="accountTypes-ddl-edit">Search:</label>
                                                    <div class="input-group">
                                                        <input style="background:#f2f2f2" onkeyup="filterOutgoingReferrals()" id="filterInput-outgoing" onkeypress="searchUsingEnterButtonOutgoing(event)" placeholder="Search for name" type="search" class="form-control" />
                                                        <div class="input-group-append">
                                                            <button onclick="filterOutgoingReferrals()" id="search-button" type="button" class="btn btn-primary">
                                                                <i class="fas fa-search"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-3">
                                                <!-- Label for Status dropdown -->
                                                <div class="form-group" style="margin-left: 10px;margin-bottom: 5%;">
                                                    <label style="font-weight:bold;color:#00768c" for="accountTypes-ddl-edit">Status:</label>
                                                    <select class="form-control" id="status-outgoing-ddl" onchange="filterOutgoingReferrals()">
                                                        <option value="0">All Statuses</option>
                                                        <option value="@((int)Eihal.Enums.ReferralStatusEnum.UnderReview)">Under Review</option>
                                                        <option value="@((int)Eihal.Enums.ReferralStatusEnum.Approved)">Approved</option>
                                                        <option value="@((int)Eihal.Enums.ReferralStatusEnum.Rejected)">Rejected</option>
                                                        <option value="@((int)Eihal.Enums.ReferralStatusEnum.Completed)">Completed</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="col-md-3">
                                                <!-- Label for Date dropdown -->
                                                <div class="form-group" style="margin-left: 10px;margin-bottom: 5%;">
                                                    <label style="font-weight:bold;color:#00768c" for="accountTypes-ddl-edit">Date:</label>
                                                    <select class="form-control" id="date-outgoing-ddl" onchange="filterOutgoingReferrals()">
                                                        <option value="0">All Dates</option>
                                                        <option value="1">Today</option>
                                                        <option value="2">7 days ago</option>
                                                        <option value="3">30 days ago</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="container">
                                            <div class="row" id="outgoingRequestContainer">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->
        <!-- Footer -->
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->
</div>

<!-- Add Order Modal -->
<div class="modal fade" id="AddOrderModal" tabindex="-1" role="dialog" aria-labelledby="EditUserProfileModal" aria-hidden="true">
    <div class="modal-dialog custom-modal-dialog" style="max-width:760px" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="AddOrderModal">Add Order </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid" style="direction:@direction;text-align:@textAlign">
                    <div id="main-class-modal" class="row justify-content-center">
                        <div>
                            <div>
                                <form id="msform">
                                    <!-- progressbar -->
                                    <ul id="progressbar">
                                        <li class="active" id="account"><strong>Patient Info</strong></li>
                                        <li id="personal"><strong>Services</strong></li>
                                        <li id="payment"><strong>Doctors</strong></li>
                                        <li id="confirm"><strong>Confrimation</strong></li>
                                    </ul>
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div> <br> <!-- fieldsets -->
                                    <fieldset id="patient-info">
                                        <div class="form-card">
                                            <div class="row">
                                                <div class="col-7">
                                                    <h2 class="fs-title">Patient Information:</h2>
                                                </div>
                                                <div class="col-5">
                                                    <h2 class="steps">Step 1 - 4</h2>
                                                </div>
                                            </div>
                                            @Html.Partial("PatientInfo")
                                        </div>
                                        <input id="nextToSelectPrivilege" type="button" name="next" class="next action-button" value="Next" />
                                    </fieldset>
                                    <fieldset>
                                        <div class="form-card">
                                            <div class="row">
                                                <div class="col-7">
                                                    <h2 class="fs-title">Services:</h2>
                                                </div>
                                                <div class="col-5">
                                                    <h2 class="steps">Step 2 - 4</h2>
                                                </div>
                                            </div>
                                            <hr />

                                            <span style="color:red;font-style:italic;font-weight:bold">Note: the doctor will appers based on your selection, Please select at least one service</span>
                                            <br />
                                            <h6 style="color:#00768c">
                                                Selected Services
                                            </h6>

                                            @*selection*@
                                            <div class="container">
                                                <div class="row" id="selection-privileges">
                                                </div>
                                            </div>

                                            <div id="NoResult-div" class="no-results-section" style="display:block">
                                                <img src="~/images/NoResult.png" alt="No Results Found Icon">
                                                <p>No Services Selected Yet.</p>
                                            </div>

                                            <hr />
                                            <div class="input-group">
                                                <div class="form-outline">
                                                    <input onkeyup="searchOnPrivileges()" id="search-input" type="search" class="form-control" />
                                                </div>
                                                <button onclick="searchOnPrivileges()" style="height:40px" id="search-button" type="button" class="btn btn-primary">
                                                    <i class="fas fa-search"></i>
                                                </button>
                                            </div>
                                            <div class="container">
                                                <div class="row" id="privilegesContainer">
                                                </div>
                                            </div>
                                            <div class="no-results-section" style="display:none">
                                                <img src="~/images/NoResult.png" alt="No Results Found Icon">
                                                <p>No Services Found.</p>
                                            </div>


                                        </div>
                                        <input style="text-align:center" id="nextToSelectDoctor" button" name="next" class="next action-button" value="Next" />
                                        <input type="button" name="previous" class="previous action-button-previous" value="Previous" />
                                    </fieldset>
                                    <fieldset>
                                        <div class="form-card">
                                            <div class="row">

                                                <div class="col-12">
                                                    <h2 class="steps">Step 3 - 4</h2>
                                                </div>
                                            </div>
                                            <h6 style="color:#00768c">
                                                <h2 class="fs-title">Doctors</h2>
                                            </h6>

                                            @Html.Partial("DoctorsOrder")
                                        </div>
                                        <input id="submitRequest" type="button" onclick="sendOrderRequest()" name="next" class="next action-button" value="Submit" />
                                        <input type="button" name="previous" class="previous action-button-previous" value="Previous" />
                                    </fieldset>
                                    <fieldset>
                                        <div class="form-card">
                                            <div class="row">
                                                <div class="col-7">
                                                    <h2 class="fs-title">Finish:</h2>
                                                </div>
                                                <div class="col-5">
                                                    <h2 class="steps">Step 4 - 4</h2>
                                                </div>
                                            </div> <br><br>
                                            <h2 class="purple-text text-center"><strong>SUCCESS !</strong></h2> <br>
                                            <div class="row justify-content-center">
                                                <div class="col-3"> <img src="https://i.imgur.com/GwStPmg.png" class="fit-image"> </div>
                                            </div> <br><br>
                                            <div class="row justify-content-center">
                                                <div class="col-7 text-center">
                                                    <h5 class="purple-text text-center">You Have Successfully Send The Order</h5>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" onclick="closeOrderModal()" data-dismiss="modal" id="close-order">Cancel</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ViewOrderDetailsModal" tabindex="-1" role="dialog" aria-labelledby="ViewOrderDetailsModal" aria-hidden="true">
    <div class="modal-dialog custom-modal-dialog" style="max-width:760px" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ViewOrderDetailsModal">Order Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Add your modal content here -->
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label style="font-weight:bold;color:#00768c" for="referralRequestNumber-readonly">
                                    Order Number:
                                    &nbsp;<span id="referralRequestNumber-readonly" style="color:gray;cursor: text;"></span>
                                </label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label style="font-weight:bold;color:#00768c;cursor: text;font" for="status-readonly">
                                    Order Status:
                                    &nbsp;<span style="font-size:12px" class="status" id="status-readonly"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-md-6" id="createdby-div">
                            <div class="form-group">
                                <label style="font-weight:bold;color:#00768c" for="createdby-readonly">
                                    Created By:
                                    &nbsp;<span id="createdBy-readonly" style="color:gray;cursor: text;"></span>
                                </label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group" id="assignedto-div">
                                <label style="font-weight:bold;color:#00768c" for="assignedto-readonly">
                                    Assigned To:
                                    &nbsp;<span id="assignedto-readonly" style="color:gray;cursor: text;"></span>
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label style="font-weight:bold;color:#00768c;cursor: text;" for="date-readonly">
                                    Request Date:
                                    &nbsp;<span id="date-readonly" style="color:gray;cursor: text;"></span>
                                </label>
                            </div>
                        </div>

                    </div>



                    <hr />
                    <div class="row">
                        <div class="col-md-12" id="patientName-div">
                            <div class="form-group">
                                <label style="font-weight:bold;color:#00768c" for="fullname-edit-input">Patient Name:</label>
                                <input style="cursor: text;" disabled type="text" class="form-control" id="patientName-readonly" placeholder="Not Registered" required>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group" id="phone-div">
                                <label style="font-weight:bold;color:#00768c" for="phone-edit-input">Phone:</label>
                                <input style="cursor: text;" disabled type="number" class="form-control" id="phoneNumber-readonly" placeholder="Not Registered" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group" id="email-div">
                                <label style="font-weight:bold;color:#00768c" for="email-readonly">Email:</label>
                                <input style="cursor: text;" disabled type="text" class="form-control" id="email-readonly" placeholder="Not Registered" required>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label style="font-weight:bold;color:#00768c" for="countries-ddl-edit">Country:</label>
                                <input style="cursor: text;" disabled type="text" class="form-control" id="country-readonly" placeholder="Not Registered" required>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label style="font-weight:bold;color:#00768c" for="states-ddl-edit">State:</label>
                                <input style="cursor: text;" disabled type="text" class="form-control" id="state-readonly" placeholder="Not Registered" required>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label style="font-weight:bold;color:#00768c" for="cities-ddl-edit">City:</label>
                                <input style="cursor: text;" disabled type="text" class="form-control" id="city-readonly" placeholder="Not Registered" required>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <label style="font-weight:bold;color:#00768c">Gender:</label>

                            <div class="form-group">
                                <div>
                                    <input disabled type="radio" name="gender" id="female-input-readonly" class="input-hidden" style="padding:5px" value="0" />
                                    <label for="female" id="female-label-readonly">
                                        <img src="~/images/female.png" class="selectOptionStyle" alt="Female" /> <span>&nbsp  &nbsp Female &nbsp  &nbsp  </span>
                                    </label>

                                    <input type="radio" name="gender" id="male-input-readonly" class="input-hidden" style="padding:5px" value="1" />
                                    <label for="male" id="male-label-readonly">
                                        <img src="~/images/male.png" class="selectOptionStyle" alt="Male" />&nbsp  &nbsp Male &nbsp  &nbsp
                                    </label>

                                    <label style="display:none" for="none" id="gender-label-readonly">
                                        <span>Not registered</span>
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div>
                            <div>
                                <label style="font-weight:bold;color:#00768c">Age:</label>
                                <div class="form-group">
                                    <input disabled type="radio" name="age" id="child-input-readonly" class="input-hidden" value="0" />
                                    <label for="child" id="child-label-readonly">
                                        <img src="~/images/child.png" class="selectOptionStyle" alt="child" /> 4 - 10 Years
                                    </label>
                                    <input type="radio" name="age" id="teenager-input-readonly" class="input-hidden" value="1" />
                                    <label for="teenager" id="teenager-label-readonly">
                                        <img src="~/images/teenager.png" class="selectOptionStyle" alt="teenager" /> 11 - 25 Years
                                    </label>

                                    <input type="radio" name="age" id="young-input-readonly" class="input-hidden" value="2" />&nbsp;
                                    <label for="young" id="young-label-readonly">
                                        <img src="~/images/young.png" class="selectOptionStyle" alt="young" />&nbsp;&nbsp;&nbsp; 26 - 50 Years
                                    </label>

                                    <input type="radio" name="age" id="aged-input-readonly" class="input-hidden" value="3" />
                                    <label for="aged" id="aged-label-readonly">
                                        <img src="~/images/Aged.png" class="selectOptionStyle" alt="aged" /> > 50 Years
                                    </label>


                                    <label style="display:none" for="none" id="age-label-readonly">
                                        <span>Not registered</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group ">
                                <label style="font-weight:bold;color:#00768c">Chronic disease:</label> <span style="color:gray;font-style:italic"></span>
                                <div class="form-check p-0">
                                    <textarea placeholder="-" disabled id="chronicDisease-readonly" spellcheck="true" data-ms-editor="true" style="cursor: text;">
                                    </textarea>
                                </div>
                            </div>
                        </div>

                        <div>
                            <div class="form-group ">
                                <label style="font-weight:bold;color:#00768c">Services Requests:</label> <span style="color:gray;font-style:italic"></span>
                                <div class="form-check p-0">
                                    <ul id="services-readOnly">
                                    </ul>


                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="rejectionReasonDiv" style="display:none" class="row">
                        <div class="col-md-12">
                            <div class="form-group ">
                                <label style="font-weight:bold;color:firebrick">Rejection Reason:</label> <span style="color:firebrick;font-style:italic"></span>
                                <div class="form-check p-0">
                                    <textarea rows="4" cols="50" id="rejectionReasonInput" spellcheck="true" data-ms-editor="true" style="cursor: text;color:gray">
                                    </textarea>
                                </div>
                            </div>
                        </div>

                    </div>
                    <input hidden type="text" class="form-control" id="refId-hidden-Input">
                </div>
                <div class="modal-footer">
                    <button onclick="rejectFromPopup()" id="reject-view-OrderDetails-btn" type="button" class="btn btn-danger">Reject</button>
                    <button onclick="approveFromPopup()" id="approve-view-OrderDetails-btn" type="button" class="btn btn-success" data-dismiss="modal">Approve</button>
                    <button onclick="completeFromPopup()" id="complete-view-OrderDetails-btn" type="button" class="btn btn-primary" data-dismiss="modal">Complete</button>
                    @* <button onclick="reportFromPopup()" id="report-view-OrderDetails-info" type="button" class="btn btn-primary" data-dismiss="modal">Report</button> *@
                    <button id="close-view-OrderDetails" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>



            </div>
        </div>
    </div>
</div>








<div class="modal fade" id="RejectionReasonModal" tabindex="-1" role="dialog" aria-labelledby="RejectionReasonModal" aria-hidden="true">
    <div class="modal-dialog custom-modal-dialog" style="max-width:fit-content" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="RejectionReasonModal">Rejection Reason</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Add your modal content here -->
                <div class="container">
                    <div id="rejectionReasonDiv" style="display:block" class="row">
                        <div class="col-md-12">
                            <div class="form-group ">
                                <div class="form-check p-0">
                                    <textarea id="textAreaReason" rows="4" cols="50" spellcheck="true" data-ms-editor="true" style="cursor: text;color:gray">
                                    </textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <input hidden type="text" class="form-control" id="refId-hidden-Input">
                </div>
                <div class="modal-footer">
                    <button onclick="rejectFromPopup()" id="reject-view-OrderDetails-btn" type="button" class="btn btn-danger">Reject</button>
                    <button id="close-view-OrderDetails" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>






@section Scripts {
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>

       function closeOrderModal()
        {
            $(".modal-backdrop").remove();
        }

        function rejectFromPopup() {
            
            var refId = $("#refId-hidden-Input").val();
            $("#rejectionReasonDiv").show()

            var rejectionReasonValue = $("#rejectionReasonInput").val().trim();
            var rejectionReasonPopup = $("#textAreaReason").val().trim();

            if (rejectionReasonValue.trim().length == 0 && rejectionReasonPopup.trim().length == 0) {
                toastr.warning('Please Add Rejection Reason', 'Warning !!');
                return;
            }
            else {
                reject(refId, rejectionReasonValue);
                $(".close").trigger("click");
            }
        }

        function reportFromPopup() {
            var refId = $("#refId-hidden-Input").val()
            exportReport(refId)
        }

        function approveFromPopup() {
            var refId = $("#refId-hidden-Input").val()
            approve(refId)
        }

        function completeFromPopup() {
            var refId = $("#refId-hidden-Input").val()
            complete(refId)
        }


        function reportFromPopup() {
            var refId = $("#refId-hidden-Input").val()
            complete(refId)
        }

        function changeImage() {
            const gender = document.querySelector('input[name="gender"]:checked').value;
            const image = document.getElementById('image');

            if (gender === 'male') {
                image.src = '/images/male.png';
                image.alt = 'Male Image';
            } else if (gender === 'female') {
                image.src = '/images/female.png';
                image.alt = 'Female Image';
            } else {
                // Handle the case when no radio button is selected or unexpected value
                image.src = 'male.png';
                image.alt = 'Default Image';
            }
        }

        function searchUsingEnterButtonIncoming(event) {
            if (event.keyCode === 13) {
                event.preventDefault();
                filterIncomingReferrals();
                ;
            }
        }

        function searchUsingEnterButtonOutgoing(event) {
            if (event.keyCode === 13) {
                event.preventDefault();
                filterOutgoingReferrals();
                ;
            }
        }


        function filterIncomingReferrals() {
            var name = $('#filterInput-incoming').val();

            var incomingContainer = $('#incomingRequestContainer');
            var statusId = $('#status-incoming-ddl').val();
            var dateId = $('#date-incoming-ddl').val();

            $.ajax({
                url: '/ServiceProvider/GetIncomingRequests?name=' + name + '&statusId=' + statusId + '&dateId=' + dateId,
                type: 'GET',
                success: function (response) {
                    incomingContainer.html(response);
                },
                error: function (xhr, status, error) {
                    console.error('Error:', error);
                }
            });
        }

        function filterOutgoingReferrals() {
            var name = $('#filterInput-outgoing').val();

            var outgoingContainer = $('#outgoingRequestContainer');
            var statusId = $('#status-outgoing-ddl').val();
            var dateId = $('#date-outgoing-ddl').val();

            $.ajax({
                url: '/ServiceProvider/GetOutgoingRequests?name=' + name + '&statusId=' + statusId + '&dateId=' + dateId,
                type: 'GET',
                success: function (response) {
                    outgoingContainer.html(response);
                },
                error: function (xhr, status, error) {
                    console.error('Error:', error);
                }
            });
        }

        function setCookie(name, value, days) {
            var expires = "";
            if (days) {
                var date = new Date();
                date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
                expires = "; expires=" + date.toUTCString();
            }
            document.cookie = name + "=" + value + expires + "; path=/";
        }

        $(document).ready(function () {
            var currentUrl = window.location.href;
            if (currentUrl.includes("Referrals")) {
                $("#referrals-li").addClass("activeLink");
                $("#referrals-text").addClass("activeLink");
            } else {
                console.log("The URL does not contain 'Referrals'.");
            }
            document.getElementsByClassName('active')[0].click();


        })

        function openTab(evt, tabName) {
            // Hide all tab content
            var tabContent = document.getElementsByClassName("tab-content");
            for (var i = 0; i < tabContent.length; i++) {
                tabContent[i].style.display = "none";
            }

            // Remove 'active' class from all tab buttons
            var tabButtons = document.getElementsByClassName("tab-button");
            for (var i = 0; i < tabButtons.length; i++) {
                tabButtons[i].className = tabButtons[i].className.replace(" active", "");
            }

            // Show the selected tab content and set the corresponding button as active
            document.getElementById(tabName).style.display = "block";
            if (tabName == 'tab1') {
                filterIncomingReferrals();
            } else {
                filterOutgoingReferrals();
            }
            evt.currentTarget.className += " active";
        }

        // JavaScript function to toggle the dropdown menu
        function toggleDropdown(id) {

            const dropdownMenu = document.getElementById('dropdownMenu' + id);
            if (dropdownMenu != null)
                dropdownMenu.style.display = dropdownMenu.style.display === 'block' ? 'none' : 'block';
        }

        // JavaScript functions for approve and reject actions
        function approve(refId) {

            $.ajax({
                url: '/ServiceProvider/ApproveReferal?refId=' + refId,
                type: 'GET',
                success: function (response) {
                    toastr.success('Order approved successfully', 'Success !!');
                    filterIncomingReferrals();
                },
                error: function (xhr, status, error) {
                    console.error('Error:', error);
                }
            });
        }

        function complete(refId) {
            // Show a confirmation dialog
            var confirmed = confirm('Are you sure that the service has been completed? The due invoice will be issued.');

            // Check if the user confirmed the action
            if (confirmed) {
                $.ajax({
                    url: '/ServiceProvider/CompleteReferal?refId=' + refId,
                    type: 'GET',
                    success: function (response) {
                        toastr.success('Order completed successfully', 'Success !!');
                        filterIncomingReferrals();
                    },
                    error: function (xhr, status, error) {
                        console.error('Error:', error);
                    }
                });
            } else {
                // The user canceled the action, you can add a message or perform any other action here
                toastr.warning('Order completion canceled', 'Canceled');
            }
            var id = "#invoice-" + refId

            setTimeout(() => {
                document.getElementById('invoice-' + refId).click();
            }, "500")

        }

        function reject(refId, rejectionReasonValue) {

            $.ajax({
                url: '/ServiceProvider/RejectReferal?refId=' + refId + "&rejectionReason=" + rejectionReasonValue,
                type: 'GET',
                success: function (response) {
                    toastr.success('Order rejected successfully', 'Success !!');
                    filterIncomingReferrals();
                },
                error: function (xhr, status, error) {
                    console.error('Error:', error);
                }
            });
        }





        function getReferralsOrderDetails(id, isFromIncoming) {
            
            $("#rejectionReasonDiv").hide()
            if (isFromIncoming) {
                $("#assignedto-div").hide()
                // Hide Feilds
                $("#patientName-div").hide();
                $("#phone-div").hide();
                $("#email-div").hide();
            }
            else {
                // Show Feilds
                $("#patientName-div").show();
                $("#phone-div").show();
                $("#email-div").show();
            }

            // Reset Status
            $("#status-readonly").removeClass("underReview");
            $("#status-readonly").removeClass("completed");
            $("#status-readonly").removeClass("approved");
            $("#status-readonly").removeClass("rejected");

            // Reset Buttons
            $("#approve-view-OrderDetails-btn").hide();
            $("#reject-view-OrderDetails-btn").hide();
            $("#complete-view-OrderDetails-btn").hide();
            $("#close-view-OrderDetails").hide();





            $.ajax({
                url: '/ServiceProvider/GetReferralsOrderDetails?orderId=' + id,
                type: 'GET',
                success: function (response) {
                    var data = response[0];
                    $("#referralRequestNumber-readonly").text(data.referralRequestNumber)
                    if (data.status == 1) {
                        $("#status-readonly").text("Under Review")
                        $("#status-readonly").addClass("underReview")

                        $("#approve-view-OrderDetails-btn").show();
                        $("#reject-view-OrderDetails-btn").show();
                    }
                    if (data.status == 2) {
                        $("#status-readonly").text("Approved")
                        $("#status-readonly").addClass("approved")

                        // Show Feilds
                        $("#patientName-div").show();
                        $("#phone-div").show();
                        $("#email-div").show();

                        $("#complete-view-OrderDetails-btn").show();




                    }
                    if (data.status == 3) {

                        $("#status-readonly").text("Rejected")
                        $("#status-readonly").addClass("rejected")
                        $("#close-view-OrderDetails").show();
                        $("#rejectionReasonDiv").show();
                        $("#rejectionReasonInput").attr('disabled', 'disabled');

                    }
                    if (data.status == 4) {
                        $("#status-readonly").text("Completed")
                        $("#status-readonly").addClass("completed")
                        // Show Feilds
                        $("#patientName-div").show();
                        $("#phone-div").show();
                        $("#email-div").show();
                        $("#close-view-OrderDetails").show();


                    }

                    $("#createdBy-readonly").text(data.createdBy)
                    $("#assignedto-readonly").text(data.assignedTo)
                    $("#date-readonly").text(data.date)
                    $("#patientName-readonly").val(data.patientName)
                    $("#phoneNumber-readonly").val(data.phoneNumber)
                    $("#email-readonly").val(data.email)
                    $("#country-readonly").val(data.countryTextEn)
                    $("#state-readonly").val(data.stateTextEn)
                    $("#city-readonly").val(data.cityTextEn)
                    $("#chronicDisease-readonly").val(data.chronicDisease)
                    $("#refId-hidden-Input").val(data.referralRequestId)
                    $("#rejectionReasonInput").val(data.rejectionReason)
                    if (data.gender == 0) {
                        // Show Female
                        $("#female-label-readonly").css("display", "");
                        $("#female-input-readonly").css("display", "");

                        // Hide Male
                        $("#male-label-readonly").css("display", "none");
                        $("#male-input-readonly").css("display", "none");
                    }
                    if (data.gender == 1) {
                        // Show Male
                        $("#male-label-readonly").css("display", "");
                        $("#male-input-readonly").css("display", "");

                        // Hide FeMale
                        $("#female-label-readonly").css("display", "none");
                        $("#female-input-readonly").css("display", "none");
                    }
                    else {
                        // Hide All Of them
                        $("#gender-label-readonly").show()

                        // Hide FeMale
                        $("#female-label-readonly").css("display", "none");
                        // $("#female-input-readonly").css("display", "none");
                        // Hide Male
                        $("#male-label-readonly").css("display", "none");
                        $("#male-input-readonly").css("display", "none");
                    }



                    if (data.age == 0) {
                        $("#age-label-readonly").hide()

                        $("#child-label-readonly").css("display", "");
                        $("#child-input-readonly").css("display", "");

                        $("#teenager-label-readonly").css("display", "none");
                        $("#teenager-input-readonly").css("display", "none");

                        $("#young-label-readonly").css("display", "none");
                        $("#young-input-readonly").css("display", "none");

                        $("#aged-label-readonly").css("display", "none");
                        $("#aged-input-readonly").css("display", "none");

                    }
                    if (data.age == 1) {
                        $("#age-label-readonly").hide()

                        $("#child-label-readonly").css("display", "none");
                        $("#child-input-readonly").css("display", "none");

                        $("#teenager-label-readonly").css("display", "");
                        $("#teenager-input-readonly").css("display", "");

                        $("#young-label-readonly").css("display", "none");
                        $("#young-input-readonly").css("display", "none");

                        $("#aged-label-readonly").css("display", "none");
                        $("#aged-input-readonly").css("display", "none");

                    }
                    if (data.age == 2) {
                        $("#age-label-readonly").hide()

                        $("#child-label-readonly").css("display", "none");
                        $("#child-input-readonly").css("display", "none");

                        $("#teenager-label-readonly").css("display", "none");
                        $("#teenager-input-readonly").css("display", "none");

                        $("#young-label-readonly").css("display", "");
                        $("#young-input-readonly").css("display", "");

                        $("#aged-label-readonly").css("display", "none");
                        $("#aged-input-readonly").css("display", "none");

                    }

                    if (data.age == 3) {
                        $("#age-label-readonly").hide()

                        $("#child-label-readonly").css("display", "none");
                        $("#child-input-readonly").css("display", "none");

                        $("#teenager-label-readonly").css("display", "none");
                        $("#teenager-input-readonly").css("display", "none");

                        $("#young-label-readonly").css("display", "none");
                        $("#young-input-readonly").css("display", "none");

                        $("#aged-label-readonly").css("display", "");
                        $("#aged-input-readonly").css("display", "");

                    }
                    else {
                        // Hide All Of them
                        $("#age-label-readonly").show()

                        $("#child-label-readonly").css("display", "none");
                        $("#child-input-readonly").css("display", "none");

                        $("#teenager-label-readonly").css("display", "none");
                        $("#teenager-input-readonly").css("display", "none");

                        $("#young-label-readonly").css("display", "none");
                        $("#young-input-readonly").css("display", "none");

                        $("#aged-label-readonly").css("display", "none");
                        $("#aged-input-readonly").css("display", "none");
                    }
                    if (!isFromIncoming) {
                        // Show Feilds
                        $("#patientName-div").show();
                        $("#phone-div").show();
                        $("#email-div").show();
                        // Reset Buttons
                        $("#approve-view-OrderDetails-btn").hide();
                        $("#reject-view-OrderDetails-btn").hide();
                        $("#complete-view-OrderDetails-btn").hide();
                        $("#close-view-OrderDetails").show();

                    }

                    var dropdown = $('#services-readOnly');
                    dropdown.empty();

                    for (var i = 0; i <= data.servicesRequests.length; i++) {
                        var qty = 1;
                        if (data.orderServicesDetails[i].qty != null)
                            qty = data.orderServicesDetails[i].qty;
                        dropdown.append("<li> ♦ " + data.servicesRequests[i].titleEn + "<span style='color: green;font-weight:bold'> X" + qty + "</span> </li>");
                    }


                },
                error: function (error) {
                    // Handle the error response here
                    console.log(error); // Output the error to the console
                }
            });
        }
    </script>
}





<style>
    .toast {
        margin-top: 50px !important;
    }

    .toast-success {
        background-color: #00333f;
    }
</style>


