@model Eihal.Data.Entites.InsuranceCompany
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<style>

    .hide {
        display: none;
    }

    .activeLink {
        color: #00768c;
        font-weight: bold;
        pointer-events: none;
        cursor: not-allowed;
        background-color: whitesmoke
    }

    #menu .nav-item:hover {
        /* Add your desired styles for hover state */
        background-color: #e0e0e0;
        color: #333;
    }


    .tab-header {
        display: flex;
        justify-content: space-between;
        background-color: #f1f1f1;
    }

    .tab-button {
        background-color: inherit;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 10px 20px;
        transition: background-color 0.3s;
        border-radius: 12px;
        margin: 5px;
    }

        .tab-button:hover {
            background-color: #ddd;
        }

        .tab-button.active {
            background-color: #00768c;
            color: white
        }

    .tab-content {
        background-color: #fff;
    }

    .referral-card {
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        position: relative;
        cursor: pointer;
        transition: transform 0.3s ease;
    }

        .referral-card:hover {
            transform: translateY(-5px);
            box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
        }

    .referral-card-body {
        background-color: white;
        padding: 20px;
    }

    .referral-card-title {
        color: #333;
        font-size: 18px;
        margin-bottom: 10px;
        color: #00768c
    }

    .referral-card-text {
        color: #666;
        margin-bottom: 5px;
    }


    .dots-container {
        position: absolute;
        top: 10px;
        right: 10px;
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .dots-button {
        background: none;
        border: none;
        color: #007bff;
        font-size: 18px;
        padding: 0;
        cursor: pointer;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        position: relative;
        overflow: hidden;
    }

        .dots-button::before {
            content: "...";
            position: absolute;
            color: #007bff;
            font-size: 20px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .dots-button::after {
            content: "";
            position: absolute;
            background-color: #007bff;
            width: 4px;
            height: 4px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .dots-button::before,
        .dots-button::after {
            border-radius: 50%;
        }

        .dots-button::after {
            top: 54%;
        }

        .dots-button::before {
            top: 46%;
        }

    .no-results {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-top: 20px;
        padding: 20px;
        font-size: 18px;
    }

        .no-results img {
            width: 80px;
            height: 80px;
            margin-bottom: 10px;
        }

        .no-results p {
            margin: 0;
        }

    .status {
        text-align: center;
        font-size: 10px;
        padding: 4px 6px;
        border-radius: 4px;
        font-weight: bold;
    }

    .status-success {
        background-color: #4CAF50;
        color: #ffffff;
    }

    .status-warning {
        background-color: #FFC107;
        color: #ffffff;
    }

    .status-error {
        background-color: #FF0000;
        color: #ffffff;
    }

    .search-container {
        position: relative;
        display: flex;
        align-items: center;
        width: 35%;
    }

        .search-container input {
            padding-right: 30px; /* Add space for the search icon */
        }

        .search-container i {
            position: absolute;
            right: 10px;
            top: 50%;
            transform: translateY(-50%);
            color: #888;
        }
</style>

<div id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <!-- End of Sidebar -->
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <!-- End of Topbar -->
                <!-- Begin Page Content -->
                <div class="container-fluid">
                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4" style="margin-top:125px;">
                        @*  <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                        <i class="fas fa-download fa-sm text-white-50"></i> Generate Report
                        </a>*@
                    </div>
                    <!-- Content Row -->


                    <div class="row">
                        @Html.Partial("_Sidebar")
                        <div class="col-xl-8 col-lg-8 ">

                            <div id="profile-status-container" style="color:white"></div>

                            <br />
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div class="tab-container card-header py-2 d-flex flex-row align-items-center justify-content-between">

                                    <h6 style="color:#00768c" class="m-0 font-weight-bold text-primary">
                                        <a style="color:#00768c" class="nav-link" href="index.html">
                                            <i style="color:#00768c" class="fas fa-share-alt" aria-hidden="true"></i>
                                            <span style="color:#00768c">Referrals</span>
                                        </a>
                                    </h6>
                                    <div>
                                        <button class="tab-button active" id="btnIncoming" onclick="openTab(event, 'tab1')">Incoming Requests</button>
                                        <button class="tab-button" onclick="openTab(event, 'tab2')">Outgoing Requests</button>
                                    </div>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">

                                    <div id="tab1" class="tab-content" style="display: none;">

                                        <!-- Add Ordeer -->
                                        <div style="text-align: end; cursor:pointer">
                                            <button onclick="openAddOrderModal()" type="button" class="btn btn-primary" data-toggle="modal" data-target="#AddOrderModal">
                                                <i style="font-size:25px" class="fas fa-add"></i> Add Order
                                            </button>
                                        </div>

                                        <div class="row">
                                            <div class="form-group mr-2 search-container" style="margin-top: 32px;">
                                                <label for="filterInput-incoming"></label>
                                                <input type="text" class="form-control margin-15-position-obselete" id="filterInput-incoming" name="search" style=" background-color: #f2f2f2;" placeholder="Search for name" value="">
                                                <i class="fas fa-search" style=" margin-right: 0.5%; color: #00768c;cursor:pointer" onclick="filterIncomingReferrals()"></i>
                                            </div>
                                            <div class="col-lg-3 col-12 padding-screen" style="padding-right:8px">
                                                <label for="status-incoming-dll">Status</label>
                                                <select class="form-control" id="status-incoming-ddl" onchange="filterIncomingReferrals()">
                                                    <option value="0">Status</option>
                                                    <option value="@((int)Eihal.Enums.ReferralStatusEnum.UnderReview)">Under Review</option>
                                                    <option value="@((int)Eihal.Enums.ReferralStatusEnum.Approved)">Approved</option>
                                                    <option value="@((int)Eihal.Enums.ReferralStatusEnum.Rejected)">Rejected</option>
                                                </select>
                                            </div>
                                            <div class="col-lg-3 col-12 padding-screen" style="padding-right:8px">
                                                <label for="date-incoming-dll">Date</label>

                                                <select class="form-control" id="date-incoming-ddl" onchange="filterIncomingReferrals()">
                                                    <option value="0">Date</option>
                                                    <option value="1">Today</option>
                                                    <option value="2">7 days ago</option>
                                                    <option value="3">30 days ago</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="container">

                                            <div class="row" id="incomingRequestContainer">
                                            </div>
                                        </div>
                                    </div>
                                    <div id="tab2" class="tab-content" style="display: none;">
                                        <div class="row">
                                            <div class="form-group mr-2 search-container" style="margin-top: 32px;">
                                                <label for="filterInput-outgoing"></label>
                                                <input type="text" class="form-control margin-15-position-obselete" id="filterInput-outgoing" name="search" style=" background-color: #f2f2f2;" placeholder="Search for name" value="">
                                                <i class="fas fa-search" style=" margin-right: 0.5%; color: #00768c;cursor:pointer" onclick="filterOutgoingReferrals()"></i>
                                            </div>
                                            <div class="col-lg-3 col-12 padding-screen" style="padding-right:8px">
                                                <label for="status-outgoing-dll">Status</label>
                                                <select class="form-control" id="status-outgoing-ddl" onchange="filterOutgoingReferrals()">
                                                    <option value="0">Status</option>
                                                    <option value="@((int)Eihal.Enums.ReferralStatusEnum.UnderReview)">Under Review</option>
                                                    <option value="@((int)Eihal.Enums.ReferralStatusEnum.Approved)">Approved</option>
                                                    <option value="@((int)Eihal.Enums.ReferralStatusEnum.Rejected)">Rejected</option>
                                                </select>
                                            </div>
                                            <div class="col-lg-3 col-12 padding-screen" style="padding-right:8px">
                                                <label for="date-outgoing-dll">Date</label>

                                                <select class="form-control" id="date-outgoing-ddl" onchange="filterOutgoingReferrals()">
                                                    <option value="0">Date</option>
                                                    <option value="1">Today</option>
                                                    <option value="2">7 days ago</option>
                                                    <option value="3">30 days ago</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="container">
                                            <div class="row" id="outgoingRequestContainer">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->
        <!-- Footer -->
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>


<div class="modal fade" id="AddOrderModal" tabindex="-1" role="dialog" aria-labelledby="EditUserProfileModal" aria-hidden="true">
    <div class="modal-dialog custom-modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="AddOrderModal">Add Order </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row justify-content-center">
                        <div>
                            <div>
                                <form id="msform">
                                    <!-- progressbar -->
                                    <ul id="progressbar">
                                        <li class="active" id="account"><strong>Patient Info</strong></li>
                                        <li id="personal"><strong>Services</strong></li>
                                        <li id="payment"><strong>Doctors</strong></li>
                                        <li id="confirm"><strong>Confrimation</strong></li>
                                    </ul>
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div> <br> <!-- fieldsets -->
                                    <fieldset>
                                        <div class="form-card">
                                            <div class="row">
                                                <div class="col-7">
                                                    <h2 class="fs-title">Patient Information:</h2>
                                                </div>
                                                <div class="col-5">
                                                    <h2 class="steps">Step 1 - 4</h2>
                                                </div>
                                            </div>
                                            <label class="fieldlabels">Full Name: *</label>
                                            <input type="text" id="fullname-input" name="fullname-input" placeholder="Full Name" />

                                            <label class="fieldlabels">Phone: *</label>
                                            <input type="text" id="phone-input" name="phone-input" placeholder="05********" />
                                            <label class="fieldlabels">Email:</label>
                                            <input type="text" id="email-input" name="email-input" placeholder="Email" />

                                            <label class="fieldlabels">Gender:</label>
                                            <input style="width:15%" type="radio" id="gender-input" name="gender" value="Male" />Male
                                            <input style="width:15%" type="radio" id="gender-input" name="gender" value="Female" />Female
                                            <br />
                                            <label class="fieldlabels">Age:</label>
                                            <br />
                                            <input style="width:15%" type="radio" id="gender-age" name="age" value="4To10" />4 Years To 10
                                            <input style="width:15%" type="radio" id="gender-age" name="age" value="10To25" />10 Years To 25
                                            <br />
                                            <input style="width:15%" type="radio" id="gender-age" name="age" value="25To50" />25 Years To 50
                                            <input style="width:15%" type="radio" id="gender-age" name="age" value="50To100" />50 Years To 100

                                            <br />
                                            <input  style="width:15%" type="checkbox" id="chronic-disease" name="chronic-disease" />Dose the patient have a chronic disease?

                                            <table>
                                                <tr>
                                                    <td class="td-WorkingHours">
                                                        <label class="label-WorkingHours" for="states-ddl-wk">Country:</label>
                                                    </td>
                                                    <td class="td-WorkingHours">
                                                        <select class="form-control" id="countries-ddl-wk" onchange="getStates(this.value)">
                                                            <option value="">Select a Country</option>
                                                        </select>
                                                    </td>
                                                    <td>
                                                        <label class="label-WorkingHours" for="states-ddl-wk">State:</label>
                                                    </td>
                                                    <td class="td-WorkingHours">
                                                        <select class="form-control" id="states-ddl-wk" onchange="getCites(this.value)">
                                                            <option value="">Select a State</option>
                                                        </select>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="td-WorkingHours">
                                                        <label class="label-WorkingHours" for="cities-ddl-wk">City:</label>
                                                    </td>
                                                    <td class="td-WorkingHours">
                                                        <select class="form-control" id="cities-ddl-wk" onchange="getDistricts(this.value)">
                                                            <option value="">Select a City</option>
                                                        </select>
                                                    </td>
                                                    <td>
                                                        <label class="label-WorkingHours" for="districts-ddl-wk">District:</label>
                                                    </td>
                                                    <td class="td-WorkingHours">
                                                        <select class="form-control" id="districts-ddl-wk">
                                                            <option value="">Select a District</option>
                                                        </select>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                        <input type="button" name="next" class="next action-button" value="Next" />
                                    </fieldset>
                                    <fieldset>
                                        <div class="form-card">
                                            <div class="row">
                                                <div class="col-7">
                                                    <h2 class="fs-title">Services:</h2>
                                                </div>
                                                <div class="col-5">
                                                    <h2 class="steps">Step 2 - 4</h2>
                                                </div>
                                            </div>

                                            <div class="row" id="allServiceContainer">
                                            </div>


                                        </div>
                                        <input type="button" name="next" class="next action-button" value="Next" />
                                        <input type="button" name="previous" class="previous action-button-previous" value="Previous" />
                                    </fieldset>
                                    <fieldset>
                                        <div class="form-card">
                                            <div class="row">
                                                <div class="col-7">
                                                    <h2 class="fs-title">Image Upload:</h2>
                                                </div>
                                                <div class="col-5">
                                                    <h2 class="steps">Step 3 - 4</h2>
                                                </div>
                                            </div> <label class="fieldlabels">Upload Your Photo:</label> <input type="file" name="pic" accept="image/*"> <label class="fieldlabels">Upload Signature Photo:</label> <input type="file" name="pic" accept="image/*">
                                        </div>
                                        <input type="button" name="next" class="next action-button" value="Submit" />
                                        <input type="button" name="previous" class="previous action-button-previous" value="Previous" />
                                    </fieldset>
                                    <fieldset>
                                        <div class="form-card">
                                            <div class="row">
                                                <div class="col-7">
                                                    <h2 class="fs-title">Finish:</h2>
                                                </div>
                                                <div class="col-5">
                                                    <h2 class="steps">Step 4 - 4</h2>
                                                </div>
                                            </div> <br><br>
                                            <h2 class="purple-text text-center"><strong>SUCCESS !</strong></h2> <br>
                                            <div class="row justify-content-center">
                                                <div class="col-3"> <img src="https://i.imgur.com/GwStPmg.png" class="fit-image"> </div>
                                            </div> <br><br>
                                            <div class="row justify-content-center">
                                                <div class="col-7 text-center">
                                                    <h5 class="purple-text text-center">You Have Successfully Send The Order</h5>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal" id="close-overview">Cancel</button>
                @*<button onclick="updateProfile()" type="button" class="btn btn-success" style="background-color:#00768c">Update</button>*@
            </div>
        </div>
    </div>
</div>





@section Scripts {
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script>

        function filterIncomingReferrals() {
            var name = $('#filterInput-incoming').val();

            var incomingContainer = $('#incomingRequestContainer');
            var statusId = $('#status-incoming-ddl').val();
            var dateId = $('#date-incoming-ddl').val();

            $.ajax({
                url: '/ServiceProvider/GetUserIncomingRequests?name=' + name + '&statusId=' + statusId + '&dateId=' + dateId, // Replace with the actual URL and action method to fetch the partial view
                type: 'GET',
                success: function (response) {
                    incomingContainer.html(response);
                },
                error: function (xhr, status, error) {
                    console.error('Error:', error);
                }
            });
        }
        function filterOutgoingReferrals() {
            var name = $('#filterInput-outgoing').val();

            var outgoingContainer = $('#outgoingRequestContainer');
            var statusId = $('#status-outgoing-ddl').val();
            var dateId = $('#date-outgoing-ddl').val();

            $.ajax({
                url: '/ServiceProvider/GetUserOutgoingRequests?name=' + name + '&statusId=' + statusId + '&dateId=' + dateId, // Replace with the actual URL and action method to fetch the partial view
                type: 'GET',
                success: function (response) {
                    outgoingContainer.html(response);
                },
                error: function (xhr, status, error) {
                    console.error('Error:', error);
                }
            });
        }

        function setCookie(name, value, days) {
            var expires = "";
            if (days) {
                var date = new Date();
                date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
                expires = "; expires=" + date.toUTCString();
            }
            document.cookie = name + "=" + value + expires + "; path=/";
        }

        $(document).ready(function () {
            var currentUrl = window.location.href;
            if (currentUrl.includes("Referrals")) {
                $("#referrals-li").addClass("activeLink");
                $("#referrals-text").addClass("activeLink");
            } else {
                console.log("The URL does not contain 'Referrals'.");
            }
            document.getElementsByClassName('active')[0].click();


        })

        function openTab(evt, tabName) {
            // Hide all tab content
            var tabContent = document.getElementsByClassName("tab-content");
            for (var i = 0; i < tabContent.length; i++) {
                tabContent[i].style.display = "none";
            }

            // Remove 'active' class from all tab buttons
            var tabButtons = document.getElementsByClassName("tab-button");
            for (var i = 0; i < tabButtons.length; i++) {
                tabButtons[i].className = tabButtons[i].className.replace(" active", "");
            }

            // Show the selected tab content and set the corresponding button as active
            document.getElementById(tabName).style.display = "block";
            if (tabName == 'tab1') {
                filterIncomingReferrals();
            } else {
                filterOutgoingReferrals();
            }
            evt.currentTarget.className += " active";
        }

    </script>
}



<style>


    #heading {
        text-transform: uppercase;
        color: #00768c;
        font-weight: normal
    }

    #msform {
        text-align: center;
        position: relative;
        margin-top: 20px
    }

        #msform fieldset {
            background: white;
            border: 0 none;
            border-radius: 0.5rem;
            box-sizing: border-box;
            width: 100%;
            margin: 0;
            padding-bottom: 20px;
            position: relative
        }

    .form-card {
        text-align: left
    }

    #msform fieldset:not(:first-of-type) {
        display: none
    }

    #msform input,
    #msform textarea {
        padding: 8px 15px 8px 15px;
        border: 1px solid #ccc;
        border-radius: 0px;
        margin-bottom: 25px;
        margin-top: 2px;
        width: 100%;
        box-sizing: border-box;
        font-family: montserrat;
        color: #2C3E50;
        background-color: #ECEFF1;
        font-size: 16px;
        letter-spacing: 1px
    }

        #msform input:focus,
        #msform textarea:focus {
            -moz-box-shadow: none !important;
            -webkit-box-shadow: none !important;
            box-shadow: none !important;
            border: 1px solid #00768c;
            outline-width: 0
        }

    #msform .action-button {
        width: 100px;
        background: #00768c;
        font-weight: bold;
        color: white;
        border: 0 none;
        border-radius: 0px;
        cursor: pointer;
        padding: 10px 5px;
        margin: 10px 0px 10px 5px;
        float: right
    }

        #msform .action-button:hover,
        #msform .action-button:focus {
            background-color: #311B92
        }

    #msform .action-button-previous {
        width: 100px;
        background: #616161;
        font-weight: bold;
        color: white;
        border: 0 none;
        border-radius: 0px;
        cursor: pointer;
        padding: 10px 5px;
        margin: 10px 5px 10px 0px;
        float: right
    }

        #msform .action-button-previous:hover,
        #msform .action-button-previous:focus {
            background-color: #000000
        }

    .card {
        z-index: 0;
        border: none;
        position: relative
    }

    .fs-title {
        font-size: 25px;
        color: #00768c;
        margin-bottom: 15px;
        font-weight: normal;
        text-align: left
    }

    .purple-text {
        color: #00768c;
        font-weight: normal
    }

    .steps {
        font-size: 25px;
        color: gray;
        margin-bottom: 10px;
        font-weight: normal;
        text-align: right
    }

    .fieldlabels {
        color: gray;
        text-align: left
    }

    #progressbar {
        margin-bottom: 30px;
        overflow: hidden;
        color: lightgrey
    }

        #progressbar .active {
            color: #00768c
        }

        #progressbar li {
            list-style-type: none;
            font-size: 15px;
            width: 25%;
            float: left;
            position: relative;
            font-weight: 400
        }

        #progressbar #account:before {
            font-family: FontAwesome;
            content: "\f13e"
        }

        #progressbar #personal:before {
            font-family: FontAwesome;
            content: "\f007"
        }

        #progressbar #payment:before {
            font-family: FontAwesome;
            content: "\f030"
        }

        #progressbar #confirm:before {
            font-family: FontAwesome;
            content: "\f00c"
        }

        #progressbar li:before {
            width: 50px;
            height: 50px;
            line-height: 45px;
            display: block;
            font-size: 20px;
            color: #ffffff;
            background: lightgray;
            border-radius: 50%;
            margin: 0 auto 10px auto;
            padding: 2px
        }

        #progressbar li:after {
            content: '';
            width: 100%;
            height: 2px;
            background: lightgray;
            position: absolute;
            left: 0;
            top: 25px;
            z-index: -1
        }

        #progressbar li.active:before,
        #progressbar li.active:after {
            background: #00768c
        }

    .progress {
        height: 20px
    }

    .progress-bar {
        background-color: #00768c
    }

    .fit-image {
        width: 100%;
        object-fit: cover
    }
</style>

<script>
    $(document).ready(function () {

        var current_fs, next_fs, previous_fs; //fieldsets
        var opacity;
        var current = 1;
        var steps = $("fieldset").length;

        setProgressBar(current);

        $(".next").click(function () {

            current_fs = $(this).parent();
            next_fs = $(this).parent().next();

            //Add Class Active
            $("#progressbar li").eq($("fieldset").index(next_fs)).addClass("active");

            //show the next fieldset
            next_fs.show();
            //hide the current fieldset with style
            current_fs.animate({ opacity: 0 }, {
                step: function (now) {
                    // for making fielset appear animation
                    opacity = 1 - now;

                    current_fs.css({
                        'display': 'none',
                        'position': 'relative'
                    });
                    next_fs.css({ 'opacity': opacity });
                },
                duration: 500
            });
            setProgressBar(++current);
        });

        $(".previous").click(function () {

            current_fs = $(this).parent();
            previous_fs = $(this).parent().prev();

            //Remove class active
            $("#progressbar li").eq($("fieldset").index(current_fs)).removeClass("active");

            //show the previous fieldset
            previous_fs.show();

            //hide the current fieldset with style
            current_fs.animate({ opacity: 0 }, {
                step: function (now) {
                    // for making fielset appear animation
                    opacity = 1 - now;

                    current_fs.css({
                        'display': 'none',
                        'position': 'relative'
                    });
                    previous_fs.css({ 'opacity': opacity });
                },
                duration: 500
            });
            setProgressBar(--current);
        });

        function setProgressBar(curStep) {
            var percent = parseFloat(100 / steps) * curStep;
            percent = percent.toFixed();
            $(".progress-bar")
                .css("width", percent + "%")
        }

        $(".submit").click(function () {
            return false;
        })

    });

    function getStates(countryId) {
        $.ajax({
            url: '@Url.Action("GetStatesDDL", "ServiceProvider")' + '?countryId=' + countryId,
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                // Clear existing options
                $('#states-ddl-wk').empty();
                // Populate the dropdown list
                var dropdown = $('#states-ddl-wk');
                // Add default option
                dropdown.append($('<option></option>').val('').text('Select a state'));
                $.each(data, function (index, item) {
                    dropdown.append($('<option></option>').val(item.id).text(item.titleEn));
                });
            }
        });
    }

    function getCites(stateId) {
        $.ajax({
            url: '@Url.Action("GetCitiesDDL", "ServiceProvider")' + '?stateId=' + stateId,
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                // Clear existing options
                $('#cities-ddl-wk').empty();
                // Populate the dropdown list
                var dropdown = $('#cities-ddl-wk');
                dropdown.append($('<option></option>').val('').text('Select a city'));
                $.each(data, function (index, item) {
                    dropdown.append($('<option></option>').val(item.id).text(item.titleEn));
                });
            }
        });
    }

    function getDistricts(cityId) {
        $.ajax({
            url: '@Url.Action("GetDistricts", "ServiceProvider")' + '?cityId=' + cityId,
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                // Clear existing options
                $('#districts-ddl-wk').empty();
                // Populate the dropdown list
                var dropdown = $('#districts-ddl-wk');
                dropdown.append($('<option></option>').val('').text('Select a District'));
                $.each(data, function (index, item) {
                    dropdown.append($('<option></option>').val(item.id).text(item.titleEn));
                });
            }
        });
    }


    function openAddOrderModal()
    {
        $.ajax({
            url: '@Url.Action("GetCountriesDDL", "ServiceProvider")',
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                // Clear existing options
                $('#countries-ddl-wk').empty();
                // Populate the dropdown list
                var dropdown = $('#countries-ddl-wk');
                // Add default option
                dropdown.append($('<option></option>').val('').text('Select a country'));
                $.each(data, function (index, item) {
                    dropdown.append($('<option></option>').val(item.id).text(item.titleEn));
                });
            }
        });
        GetAllService()

    }

    
        function GetAllService() {
            var serviceContainer = $('#allServiceContainer');

            $.ajax({
                url: '/ServiceProvider/AllServiceCardPartial', // Replace with the actual URL and action method to fetch the partial view
                type: 'GET',
                success: function (response) {
                    serviceContainer.html(response);
                },
                error: function (xhr, status, error) {
                    console.error('Error:', error);
                }
            });
        }

</script>

<style>
    table-WorkingHours {
        border-collapse: collapse;
    }

    th-WorkingHours, td-WorkingHours {
        border: 0px;
        padding: 5px;
        text-align: center;
    }

    .label-WorkingHours {
        font-weight: bold;
        color: #00768c;
        margin: 10px
    }
</style>
<style>
    .row-wk {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
    }

    .form-group-wk {
        flex: 0 0 48%;
    }



    .form-control-wk {
        padding: 5px;
    }
</style>

