@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}
@{
    string cultureCode = System.Threading.Thread.CurrentThread.CurrentCulture.Name;
    string direction = cultureCode.StartsWith("ar", StringComparison.OrdinalIgnoreCase) ? "rtl" : "ltr";
    string textAlign = cultureCode.StartsWith("ar", StringComparison.OrdinalIgnoreCase) ? "right" : "left";
    bool isEng = direction == "ltr" ? true : false;
}

@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer



<!--Sign Up -->
<div class="loginLogo" id="singUpModal" style="padding: 10%;" tabindex="-1" role="dialog">



    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" style="max-width:60%" role="document">
        <div class="modal-content">
            <div class="modal-header" style="direction:@direction">
                <h1 class="modal-title" id="singUpModalLabel">
                    @Localizer["CreateNewAccount"]
                </h1>
            </div>
            <div class="modal-body">
                <form class="form-contain" id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div style="width: 100%; display: table;">
                        <div style="display: table-row">
                            <div class="form-group">
                                <label for="account_type" style="text-align:@textAlign">  @Localizer["AccountType"]</label>
                                <div id="account-type-div" class="form-data select-box" style="width:75%">
                                    <select asp-for="Input.AccountTypeId" class="form-control" name="account_type" id="account_type" required>
                                        <option value="">@Localizer["DefaultOptionAccountType"]</option>
                                        @foreach (var accountType in Model.AccountTypes)
                                        {
                                            @if (@isEng)
                                            {
                                                <option value="@accountType.Id"> @accountType.TitleEn </option>
                                            }
                                            else
                                            {
                                                <option value="@accountType.Id"> @accountType.TitleAr </option>
                                            }
                                        }
                                    </select>
                                </div>
                            </div>
                            <div id="providerDetails">
                                <div class="form-group" id="doctor_type_dropdown">
                                    <label for="">
                                        @Localizer["PractitionerType"]

                                    </label>

                                    <div id="doctor-type-div" class="form-data select-box practitioner_type_div" style="width:75%">
                                        <select onchange="onPractitionerTypeChanged()" asp-for="Input.PractitionerTypeId" disabled style="cursor:not-allowed" class="form-control" name="practitioner_type" id="doctor-type-ddl">
                                            <option value="">@Localizer["DefaultOptionPractitionerType"] </option>
                                            @foreach (var practitionerType in Model.PractitionerTypes)
                                            {
                                                @if (@isEng)
                                                {
                                                    <option value="@practitionerType.Id">@practitionerType.TitleEn</option>
                                                }
                                                else
                                                {
                                                    <option value="@practitionerType.Id">@practitionerType.TitleAr</option>
                                                }

                                            }
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group" id="category_id_dropdown">
                                    <label for="">
                                        @Localizer["ProfessionalRank"]
                                    </label>

                                    <div id="category-id-div" class="form-data select-box professionalRank_div" style="width:75%">
                                        <select asp-for="Input.ProfessionalRankId" disabled style="cursor:not-allowed" class="form-control" name="professional_Rank" id="category-rank-ddl">
                                            <option value="0">@Localizer["DefaultOptionProfessionalRank"]</option>
                                            @foreach (var professionalRank in Model.ProfessionalRanks)
                                            {
                                                @if (@isEng)
                                                {
                                                    <option id="@professionalRank.PractitionerTypeId" value="@professionalRank.Id">@professionalRank.TitleEn</option>
                                                }
                                                else
                                                {
                                                    <option id="@professionalRank.PractitionerTypeId" value="@professionalRank.Id">@professionalRank.TitleAr</option>
                                                }


                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>


                            <div style="display: table-cell;">
                                <div class="form-group" style="text-align:@textAlign">
                                    <label for="">
                                        @Localizer["FullName"]
                                    </label>

                                    <div id="fullname-div" class="form-data">
                                        <input asp-for="Input.FullName" class="form-control" style="text-align:@textAlign"
                                               autocomplete="current-password" aria-required="true"
                                               placeholder=" @Localizer["EnterFullName"]" name="FullName" required />
                                        <span asp-validation-for="Input.FullName" class="text-danger"></span>

                                    </div>
                                </div>

                                <div class="form-group" style="text-align:@textAlign">
                                    <label for="">
                                        @Localizer["PhoneNumber"]
                                    </label>

                                    <div id="phone-div" class="form-data">
                                        <input asp-for="Input.PhoneNumber" name="PhoneNumber" onkeyup="checkPhoneNumber()" style="text-align:@textAlign"
                                               placeholder=" @Localizer["PhoneNumber"]" class="form-control" maxlength="10" onkeypress="return (event.charCode !=8 && event.charCode ==0 || ( event.charCode == 46 || (event.charCode >= 48 && event.charCode <= 57)))" aria-required="true" placeholder="Phone Number" required />
                                        <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                                        <p id="phoneError" style="display:none; color:#FF0000;font-size:12px;text-align:left;">
                                            @Localizer["PhoneAlreadyExists"]
                                        </p>
                                    </div>
                                </div>

                                <div class="form-group" style="text-align:@textAlign">
                                    <label for="">
                                        @Localizer["EmailAddress"]
                                    </label>

                                    <div id="email-div" class="form-data">
                                        <input asp-for="Input.Email" onkeyup=checkEmail() class="form-control" style="text-align:@textAlign"
                                               autocomplete="current-password" aria-required="true" placeholder=" @Localizer["EnterEmail"]" name="Email" required type="email" />
                                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                                    </div>
                                    <p style="display:none; color:#FF0000;font-size:12px;text-align:left">  @Localizer["EmailAlreadyUsed"]</p>
                                    <span style="display:none" class="success-email"> @Localizer["ValidEmail"]</span>
                                    <span style="display:none" class="error-email"> @Localizer["InValidEmail"]</span>
                                </div>

                                <div class="form-group" style="text-align:@textAlign">
                                    <label for="">
                                        @Localizer["Password"]
                                    </label>

                                    <div id="password-div" class="form-data">
                                        <input asp-for="Input.Password" class="form-control" autocomplete="current-password" style="text-align:@textAlign"
                                               onkeyup="isPasswordAccept()" aria-required="true" placeholder=" @Localizer["Password"]" name="Password" required />
                                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                                    </div>
                                    <p id="password-notAccept" style="display:none; color:#FF0000;font-size:12px;text-align:left">
                                        @Localizer["AtLeast6Char"]
                                    </p>
                                </div>

                                <div class="form-group" style="text-align:@textAlign">
                                    <label for="">
                                        @Localizer["ConfirmPassword"]
                                    </label>

                                    <div id="confirmpassword-div" class="form-data">
                                        <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="current-password" onkeyup="comparePassword()" style="text-align:@textAlign"
                                               aria-required="true" placeholder="@Localizer["ConfirmPassword"]" name="ConfirmPassword" required />
                                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                                    </div>
                                    <p id="password-notmatch" style="display:none; color:#FF0000;font-size:12px;text-align:left"> @Localizer["PasswordNotMatch"]</p>
                                </div>



                                <div class="flex-data mt-5" style="direction:@direction">
                                    <div class="wrapper">
                                        <input id="term-div" type="checkbox" name="terms" class="radio-check">
                                        <label class="radio-title">
                                            <a href="#openModal">@Localizer["TermsConditions"]</a>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                        <label id="fields-error" class="error" for="terms" style="display: none;color:red;">@Localizer["FillAllFields"]</label>
                    <button id="registerSubmit" type="submit" onclick="isFormValid()" class="custom-btn mb-3">
                        <span>@Localizer["SignUp"]</span>
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>


<div id="openModal" class="modalDialog">
    <div>
        <a href="#close" title="Close" class="close">X</a>
        <p style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;line-height:107%;font-size:15px;font-family:"Calibri",sans-serif;'>1. CONTRACTUAL RELATIONSHIP</p>
        <p style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;line-height:107%;font-size:15px;font-family:"Calibri",sans-serif;'>1.1 The Terms and Conditions (&ldquo;Terms&rdquo;) constitute an Agreement between you, an individual, (&ldquo;Users&rdquo; or &ldquo;You&rdquo;) in which Eihal undergoes commercial activities, of mobile applications, websites, content, products and services (&ldquo;Services&rdquo;) made available by Eihal.&nbsp;</p>
        <p style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;line-height:107%;font-size:15px;font-family:"Calibri",sans-serif;'>1.2 Your access and use of the Services constitute your agreement to be bound by these Terms, which establishes a contractual relationship between You and Eihal. By using the Services, You consent to be bound by these Terms and must check the &ldquo;I accept&rdquo; box herein-below stating your acceptance of these Terms.</p>
        <p style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;line-height:107%;font-size:15px;font-family:"Calibri",sans-serif;'>1.3 By using the Services, You concur that You have the full capacity to enter into a legally binding agreement, and to be held accountable in case You violate the Terms. Otherwise, You understand that Eihal may terminate or hinder your use of the Services.</p>
        <p style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;line-height:107%;font-size:15px;font-family:"Calibri",sans-serif;'>1.4 You understand and acknowledge that Eihal may amend the Terms related to Services from time to time. Eihal shall notify You of such changes to the Terms and Your acceptance to the amended Terms is required to continue using the Services.</p>
        <p style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;line-height:107%;font-size:15px;font-family:"Calibri",sans-serif;'>1.5 Users agree that Eihal can contact them by text message or telephone calls on the phone numbers they provide at user registrations including for internal marketing purposes of Eihal. This will not constitute disclosure or share of any of your personal identifiable information.</p>
        <p style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;line-height:107%;font-size:15px;font-family:"Calibri",sans-serif;'>1.6 By accessing or using any part of the Services, You agree that You have read, understood and agreed to be bound by these Terms, as well as any additional available guidelines, policies, or rules as applicable to the Eihal and its Services, including but not limited to, the Eihal Privacy Policy.&nbsp;</p>
        <p style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;line-height:107%;font-size:15px;font-family:"Calibri",sans-serif;'>IF YOU DO NOT AGREE TO BE BOUND BY THESE TERMS AND TO FOLLOW ALL APPLICABLE LAWS, GUIDELINES AND POLICIES, DO NOT ACCESS OR USE THE SERVICES.</p>
        <p style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;line-height:107%;font-size:15px;font-family:"Calibri",sans-serif;'>2. SERVICES</p>
        <p style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;line-height:107%;font-size:15px;font-family:"Calibri",sans-serif;'>2.1 This constitutes a technology platform that allows users of Eihal website and application to search and make referrals, as well as seek remote medical consultation and diagnostics through Eihal&rsquo;s Doctors.&nbsp;</p>
        <p style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;line-height:107%;font-size:15px;font-family:"Calibri",sans-serif;'>WE DO NOT OFFER MEDICAL ADVICE, DIAGNOSIS OR TREATMENT. WE DO NOT ENDORSE NOR RECOMMEND YOU A SPECIFIC PROVIDER. WE DO NOT -AND DO NOT INTEND TO- PRACTICE MEDICINE. WE ONLY HELP YOU SEARCH, BOOK AND MAKE REFERRALS TO OTHER DOCTORS. THEREFORE, IT IS CRUCIAL THAT YOU EMPLOY THE SAME CAUTIOUSNESS AND PRUDENCE YOU WOULD HAVE EMPLOYED WITHOUT USING OUR SERVICES.</p>
        <div style="text-align:center">
            <div style="text-align:center">
                <a title="We Will Download for you Policies and conditions" href="/uploadfiles/Eihal-terms-and-conditions.pdf" target="_blank">Read More..</a>
            </div>
        </div>
    </div>
</div>



<script src="https://code.jquery.com/jquery-3.5.0.min.js"></script>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

<script>


    function checkEmail() {
        var regExp = /^([\w\.\+]{1,})([^\W])(@@)([\w]{1,})(\.[\w]{1,})+$/;

        isValidEmail = regExp.test($("#Input_Email").val())

        if (isValidEmail) {
            $('.success-email').show()
            $('.error-email').hide();
        }
        else {
            $('.success-email').hide()
            $('.error-email').show();
        }
    }

    function isFormValid() {
        resetAllValidation();
        var accountTypeId = $('#account_type').val();
        var doctoryTypeId = $('#doctor-type-ddl').val();
        var categoryId = $('#category-rank-ddl').val();
        var showErrorlabel = false;

        if (accountTypeId < 1) { // mean is no selected{
            $('#account-type-div').css("border", "solid 1px red");
        }

        if (accountTypeId == 1) { // Service Provider Should fill
            if (doctoryTypeId < 1) {
                $('#doctor-type-div').css("border", "solid 1px red");
                showErrorlabel = true;
            }
            if (categoryId < 1) {
                $('#category-id-div').css("border", "solid 1px red");
                showErrorlabel = true;
            }
        }

        if ($("#Input_FullName").val().length == 0) {
            $('#fullname-div').css("border", "solid 1px red");
            showErrorlabel = true;
        }



        if ($("#Input_Email").val().length == 0) {
            $('#email-div').css("border", "solid 1px red")
            showErrorlabel = true;
        }


        if ($("#Input_PhoneNumber").val().length == 0) {
            $('#phone-div').css("border", "solid 1px red")
            showErrorlabel = true;
        }



        if ($("#Input_Password").val().length == 0) {
            $('#password-div').css("border", "solid 1px red");
            showErrorlabel = true;
        }

        if ($("#Input_ConfirmPassword").val().length == 0) {
            $('#confirmpassword-div').css("border", "solid 1px red");
            showErrorlabel = true;
        }

        if ($('#term-div').is(":checked") == false) {
            $('#term-div').css("border", "solid 1px red");
            showErrorlabel = true;
        }

        // When is not valid
        if (showErrorlabel == true)
            $("#fields-error").show();

    }

    function resetAllValidation() {
        $('#account-type-div').css("border", "");
        $('#doctor-type-div').css("border", "");
        $('#category-id-div').css("border", "");
        $('#fullname-div').css("border", "");
        $('#phone-div').css("border", "");
        $('#email-div').css("border", "");
        $('#password-div').css("border", "");
        $('#confirmpassword-div').css("border", "");
        $('#term-div').css("border", "");
        $("#fields-error").hide();
    }

    function comparePassword() {
        if ($("#Input_Password").val() != $("#Input_ConfirmPassword").val())
            $("#password-notmatch").show();
        else
            $("#password-notmatch").hide();

    }

    function isPasswordAccept() {
        if ($("#Input_Password").val().length < 6)
            $("#password-notAccept").show();
        else
            $("#password-notAccept").hide();

    }

    //CheckBox Show Password
    $('#account_type').click(function () {
        var id = $('#account_type').val()
        if (id == 2)   // Which is Beneficiary
        {
            // Disable Options
            $('#doctor-type-ddl').prop("disabled", true);
            $('#category-rank-ddl').prop("disabled", true);
            $('#doctor-type-ddl').css("cursor", "not-allowed")
            $('#category-rank-ddl').css("cursor", "not-allowed")

        }
        else if (id == 1) {
            // Element(s) are now enabled.
            // Enable Options
            $('#doctor-type-ddl').prop("disabled", false);
            $('#category-rank-ddl').prop("disabled", false);
            $('#doctor-type-ddl').css("cursor", "")
            $('#category-rank-ddl').css("cursor", "")
        }

    });

    function checkPhoneNumber(phoneNumber) {

        if ($("#Input_PhoneNumber").val().length == 0) {
            $('#phone-div').css("border", "solid 1px red");
            showErrorlabel = true;

        }
        else {
            var phoneNumber = $("#Input_PhoneNumber").val()
            $.ajax({
                url: '/Common/CheckPhoneNumber?phoneNumber=' + phoneNumber,
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    if (data == true) {
                        $('#phone-div').css("border", "solid 1px red");
                        $('#phoneError').show();
                        $("#registerSubmit").prop('disabled', true);
                        $("#registerSubmit").css('background', "darkgray");
                        $("#registerSubmit").css('cursor', "not-allowed");
                        showErrorlabel = true;
                    }
                    else {
                        $('#phoneError').hide();
                        $('#phone-div').css("border", "");
                        showErrorlabel = false;
                        $("#registerSubmit").prop('disabled', false);
                        $("#registerSubmit").css('background', "");
                        $("#registerSubmit").css('cursor', "pointer");
                    }

                }
            });

        }



    }

    function onPractitionerTypeChanged() {

        var selectedPractitionerTypeId = $("#doctor-type-ddl").val();

        // Get the selected option's data attribute (id) for each professional rank option
        $('#category-rank-ddl option').each(function () {
            var practitionerTypeId = $(this).attr("id");;
            // Hide/show professional rank options based on selected practitioner type
            if (practitionerTypeId === selectedPractitionerTypeId || practitionerTypeId === "" || practitionerTypeId == "0") {
                $(this).show();
            } else {
                $(this).hide();
            }

        });

    }
</script>
<style>
    section {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .modalDialog {
        position: fixed;
        font-family: Arial, Helvetica, sans-serif;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(0,0,0,0.8);
        z-index: 99999;
        opacity: 0;
        -webkit-transition: opacity 400ms ease-in;
        -moz-transition: opacity 400ms ease-in;
        transition: opacity 400ms ease-in;
        pointer-events: none;
    }

        .modalDialog:target {
            opacity: 1;
            pointer-events: auto;
            overflow-y: scroll;
        }

        .modalDialog > div {
            width: 50%;
            max-height: 100%;
            position: relative;
            margin: 10% auto;
            padding: 5px 20px 13px 20px;
            border-radius: 10px;
            background: #fff;
            background: -moz-linear-gradient(#fff, #999);
            background: -webkit-linear-gradient(#fff, #999);
            background: -o-linear-gradient(#fff, #999);
            -webkit-transition: opacity 400ms ease-in;
            -moz-transition: opacity 400ms ease-in;
            transition: opacity 400ms ease-in;
        }

    .close {
        background: #606061;
        color: #FFFFFF;
        line-height: 25px;
        position: absolute;
        right: -12px;
        text-align: center;
        top: -10px;
        width: 24px;
        text-decoration: none;
        font-weight: bold;
        -webkit-border-radius: 12px;
        -moz-border-radius: 12px;
        border-radius: 12px;
        -moz-box-shadow: 1px 1px 3px #000;
        -webkit-box-shadow: 1px 1px 3px #000;
        box-shadow: 1px 1px 3px #000;
    }

        .close:hover {
            background: #00d9ff;
        }
</style>

